#root {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.slide-in::after {
  content: "";
  display: block;
  width: 0;
  height: 1.5px;
  background-color: white;
  transition: width 0.3s ease-in;
}

.slide-in:hover::after,
.slide-in:active::after {
  width: 100%;
}

.close:active {
  transform: scale(1.2);
  color: red;
}

.profile:active {
  transform: scale(1.2);
  color: rgb(17, 164, 231);
}