#root {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.slide-in::after {
  content: "";
  display: block;
  width: 0;
  height: 1.5px;
  background-color: white;
  transition: width 0.3s ease-in;
}

.slide-in:hover::after {
  width: 100%;
}
